<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Starter Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .content {
            margin-top: 60px;
        }
        
        .avatar1{
            width: 30px;
            height: 30px;
        }
        .avatar2{
            width: 20px;
            height: 20px;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">KCommunity</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">首页</a></li>
                    <li><a href="#about">新手入门</a></li>
                    <li><a href="#contact">API</a></li>
                    <li><a href="#contact">关于</a></li>
                    <li><a href="#contact">注册</a></li>
                    <li><a href="#contact">登录</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="content">
        <div class="container-fluid">
            <div class="rows">
                <div class="col-sm-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <ul class="nav nav-pills">
                                <li role="presentation" class="active"><a href="#">全部</a></li>
                                <li role="presentation"><a href="#">精华</a></li>
                                <li role="presentation"><a href="#">分享</a></li>
                                <li role="presentation"><a href="#">问答</a></li>
                                <li role="presentation"><a href="#">招聘</a></li>
                            </ul>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <img src="https://avatars.githubusercontent.com/u/1147375?v=3&s=120" alt="..." class="img-rounded avatar1">
                                151/5118
                                <span class="label label-primary">置顶</span>
                                NodeParty at 腾讯大厦 2016.04.09
                                <span class="pull-right">
                                    <img src="https://avatars.githubusercontent.com/u/1147375?v=3&s=120" alt="..." class="img-rounded avatar2">
                                    10小时前
                                </span>
                            </li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Morbi leo risus</li>
                            <li class="list-group-item">Porta ac consectetur ac</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            Panel content
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            Panel content
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            Panel content
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            Panel content
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>